$iphoneX: "only screen and(max-width: 510)";
$ipadPro: "only screen and(min-width: 376) and (max-width: 1024)";

.main-page {
  position: relative;
  margin-top: 75px;
  box-sizing: border-box;
  min-width: 100%;
  height: 92vh;
  background-color: #27282d;

  // background-color: rgb(218, 217, 209);
  overflow: hidden;
  .click-me {
    font-size: 30px;
    font-weight: 700;
    left: 2%;
    top: 4%;
    z-index: 3;
    position: absolute;
    display: block;

    color: #27282d;
    .click-me-image {
      margin-top: 5px;
      width: 40px;
      height: 40px;
      margin-left: 10px;
      background-image: url("https://cdn.icon-icons.com/icons2/936/PNG/512/angle-arrow-down_icon-icons.com_73683.png");
      background-size: 100%;
      animation: handlePointer 1s ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  .main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 1425px;
    height: 85vh;
    // background-image: url("../Main/main.gif");
    // background-size: 100%;

    #main-video {
      display: block;
      width: 120%;
      min-height: 780px;
      z-index: 1;
    }
  }
  .main-footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    min-width: 910px;
    color: rgb(160, 158, 158);
    div {
      font-weight: 700;
      font-size: 11px;
      margin: 0 20px;
    }
  }
}
.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: absolute;
  flex-direction: column;
  width: 40%;
  top: 45%;
  left: 30%;
  z-index: 100;
  margin: auto auto;

  .search-box {
    display: none;
  }
  .search-box-on {
    font-size: 120%;
    width: 75%;
    z-index: 100;
    padding-left: 10px;
    height: 20%;

    border: solid 1px #c9aa70;
    animation: boxOn 1s;
    animation-fill-mode: both;
  }
  .search-box-off {
    font-size: 120%;
    width: 591px;
    margin: 0 auto;
    height: 30px;
    padding-left: 10px;
    border: solid 1px #c9aa70;
    animation: boxOff 0s;
    animation-fill-mode: both;
  }
}
.search-box-on:focus {
  outline: none;
}

@keyframes boxOn {
  from {
    opacity: 0;
    // width: 0%;
  }
  to {
    opacity: 0.7;
    // width: 40%;
  }
}

@keyframes boxOff {
  from {
    opacity: 0.7;
    // width: 40%;
  }
  to {
    opacity: 0;
    // width: 0%;
  }
}

a:hover {
  color: #c9aa70;
}
a:visited {
  color: #ffffff;
  margin: 0 20px;
  display: inline-block;
}

@keyframes handlePointer {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 375px) {
  .main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/81309/league-of-legends-project-zed-4k-iphone-x-wallpaper-ilikewallpaper_com.jpg");
    background-size: 100%;
    // background-color: rgba($color: #000000, $alpha: 0.9);
    height: 100vh;
    margin: 0;
    .click-me {
      display: none;
    }
    .search-box-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      height: 200px;
      margin-top: 350px;
      position: unset;

      .search-box-on {
        width: 100%;
      }
      .search-box-off {
        display: none;
      }
    }
    .main-img {
      display: none;
      background-color: rgba($color: #27282d, $alpha: 0.9);
      width: 100%;
      #main-video {
        display: none;
      }
    }
    .main-footer {
      display: none;
    }
  }
}

@media only screen and(min-width: 376) and (max-width: 1024) {
}
