.colgroup {
  display: table-column-group;

  .rank {
    width: 40px;
  }

  .champion {
    width: 140px;
  }

  .win-rate {
    width: 173px;
  }

  .play-count {
    width: 70px;
  }

  .average-score {
    width: 70px;
  }

  .cs-score {
    width: 170px;
  }

  .gold-score {
    width: 170px;
  }
}
