.statics-tiers-background {
    display: flex;
    justify-content: center;

    .statics-tiers-body {
        display: flex;
        flex-direction: column;
        width: 70%;

        .statics-tiers-desc-text {
            font-size: 15px;
            padding: 15px 0;
            color: #555e5e;
        }

        .statics-tiers-content {
            border: 1px solid #b8bfbf;
            width: 100%;
            padding: 5px 0;
        }
    }
}