.statics-listContentBar-background {
  border-bottom: 1px solid #b8bfbf;
  padding: 2px;

  .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: #fff;
  }

  .champion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 7px;

    img {
      border: 1px solid #b8bfbf;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin-right: 5px;
    }

    .champion-name {
      font-weight: bold;
      color: #fff;
    }
  }

  .win-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;

    .winRate-graph-maxGraph {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 70%;
      .winRate-graph {
        background: #db0542;
        border: 1px solid #db0542;
        height: 15px;
        margin-right: 5px;
      }
    }

    .winRate-number {
      color: #db0542;
      font-weight: bold;
      width: 30%;
    }
  }

  .play-count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 7px;
    color: #fff;
  }

  .average-score {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 7px;
    font-weight: bold;
    color: #fff;
  }

  .cs-score {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;

    .cs-score-maxGraph {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 70%;
      .cs-score-graph {
        background: #07d1b2;
        border: 1px solid #07d1b2;
        height: 15px;
        margin-right: 5px;
      }
    }

    .cs-score-number {
      color: #07d1b2;
      font-weight: bold;
      width: 30%;
    }
  }

  .gold-score {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;

    .gold-score-maxGraph {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 70%;
      .gold-score-graph {
        background: #c9aa70;
        border: 1px solid #c9aa70;
        height: 15px;
        margin-right: 5px;
      }
    }

    .gold-score-number {
      color: #c9aa70;
      font-weight: bold;
      width: 30%;
    }
  }
}

// tbody {
//   #top1,
//   #top2,
//   #top3,
//   #top4,
//   #top5 {
//     background-color: #fdf2d2;
//     div {
//       color: black;
//     }
//   }
// }

.statics-listContentBar-background:hover {
  td div {
    color: black;
    .champion-name {
      color: black;
    }
  }
  height: 80px;
  cursor: pointer;
  animation: handleStaticChampionTR 0.7s;
  animation-fill-mode: both;
}

@keyframes handleStaticChampionTR {
  from {
    height: 47px;
  }
  to {
    background-color: #fdf2d2;
    height: 60px;
    transform: rotateX(360deg);
  }
}
